@media (min-width: 992px) and (max-width: 1199px) {
.header-middle .botom-content .user-option {
    flex: 0 0 31%;
    max-width: 31%;
    margin-inline-start: auto;
}
}
@media (max-width: 767px) {
    .header-middle {
        padding: 8px 0;
    }   
}

@media (max-width: 767px) {
    .header-middle {
		display: none;
	}
}