.header-middle .botom-content .sg-logo {
	flex: 0 0 18.5%;
	max-width: 18.5%;
	margin-right: 0;
}
.header-middle .botom-content .user-option {
	flex: 0 0 27%;
	max-width: 27%;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header-middle .botom-content .sg-logo {
		flex: 0 0 18.5%;
		max-width: 18.5%;
		margin-right: 0;
	}
    .header-middle .botom-content .user-option {
		flex: 0 0 31%;
		max-width: 31%;
	}
}

